In [6]:
import os
import pandas as pd

In [11]:
DATA_PATH = os.path.join("..", "data")
FILE_NAME = "census.csv"
CENSUS_IN_FILE_FULL_PATH = os.path.join(DATA_PATH, FILE_NAME)

In [12]:
CENSUS_IN_FILE_FULL_PATH

'..\\data\\census.csv'

In [13]:
print(os.getcwd())

h:\workspace\ml2cloud_w_fastapi\EDA

In [14]:
census_df = pd.read_csv(CENSUS_IN_FILE_FULL_PATH)

In [15]:
census_df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlgt           32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [30]:
census_df[" race"].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [29]:
census_df[" native-country"].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [ ]:
census_df[" race"].describe

<bound method NDFrame.describe of 0         White
1         White
2         White
3         Black
4         Black
          ...
32556     White
32557     White
32558     White
32559     White
32560     White
Name:  race, Length: 32561, dtype: object>

In [22]:
census_df.loc[14]

age                                 40
 workclass                     Private
 fnlgt                          121772
 education                   Assoc-voc
 education-num                      11
 marital-status     Married-civ-spouse
 occupation               Craft-repair
 relationship                  Husband
 race               Asian-Pac-Islander
 sex                              Male
 capital-gain                        0
 capital-loss                        0
 hours-per-week                     40
 native-country                      ?
 salary                           >50K
Name: 14, dtype: object

In [23]:
census_df.info

<bound method DataFrame.info of        age          workclass   fnlgt    education   education-num  \
0       39          State-gov   77516    Bachelors              13
1       50   Self-emp-not-inc   83311    Bachelors              13
2       38            Private  215646      HS-grad               9
3       53            Private  234721         11th               7
4       28            Private  338409    Bachelors              13
...    ...                ...     ...          ...             ...
32556   27            Private  257302   Assoc-acdm              12
32557   40            Private  154374      HS-grad               9
32558   58            Private  151910      HS-grad               9
32559   22            Private  201490      HS-grad               9
32560   52       Self-emp-inc  287927      HS-grad               9

            marital-status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex   capital-gain   capital-loss   hours-per-week  native-country  \
0         Male           2174              0               40   United-States
1         Male              0              0               13   United-States
2         Male              0              0               40   United-States
3         Male              0              0               40   United-States
4       Female              0              0               40            Cuba
...        ...            ...            ...              ...             ...
32556   Female              0              0               38   United-States
32557     Male              0              0               40   United-States
32558   Female              0              0               40   United-States
32559     Male              0              0               20   United-States
32560   Female          15024              0               40   United-States

       salary
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]>

In [24]:
census_df.columns = census_df.columns.str.strip()

In [27]:
# Define a function to clean and normalize a string
def clean_and_normalize(s):
    # Strip leading and trailing spaces
    if isinstance(s, str):
        s = s.strip()
        # Replace multiple spaces with a single space
        s = ' '.join(s.split())
        # Normalize capitalization (e.g., make all lowercase)
        s = s.lower()
    return s

In [29]:
census_clean_df = census_df.applymap(clean_and_normalize)

In [30]:
OUT_FILE_NAME = "census_clean.csv"
CENSUS_OUT_FILE_FULL_PATH = os.path.join(DATA_PATH, OUT_FILE_NAME)

In [31]:
census_clean_df.to_csv(CENSUS_OUT_FILE_FULL_PATH, index=False)